:root{
  --code-background: #393E46;
  --code-lineIndicatorDark:  #1F1F1F;
  --code-lineIndicatorLight: #2e3035;
  --header-footer: #222831;
  --editor-font: #dddddd;
}


[data-theme="dark"] {
  --code-background: #dddddd;
  --code-lineIndicatorDark:  #3c3c3c;
  --code-lineIndicatorLight: #666666;
  --header-footer: #565e69;
  --editor-font: black;

}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var( --header-footer); 
}

::-webkit-scrollbar-thumb {
    background: #7e7e7f; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


main{
    display: flex;
    z-index: 99;
}

header{
    height: 40px;
    background-color: var(--header-footer);
    z-index: 1;
}


footer{
    height: 20px;
    background-color: var(--header-footer);
    z-index: 99;
}

.left{
    width: 60%;
    background-color: var(--header-footer);
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: scroll;
    position: relative;
    z-index: 98;
}

.errorMessage{
  position: fixed;
  width: calc(500px);
  left: calc(60% + 100px);
  padding: 5px;
  bottom: 40px;
  height: 40px;
  bottom: 40px;
  color: rgb(197, 47, 47);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #181b23;
  z-index: 98;  
}

.errorMessageSlideIn{
  animation: slideIn .5s forwards;
}

.errorMessageSlideOut{
  animation: slideOut .5s forwards;
}

.errorHighlight{
  width: 600px;
  background-color: rgba(97, 26, 26, 0.691);
}


@keyframes slideIn {
  0% {
    left: calc(60% + 100px);
  }
  100%{
    left: calc(60% - 520px);
  }
}

@keyframes slideOut {
  0% {
    left: calc(60% - 520px);
  }
  100%{
    left: calc(60% + 100px);
  }
}

textarea{
    width: calc(100% - 70px);
    min-height: calc(100% - 10px);
    padding: 5px;
    padding-left: 25px;
    
    background-color: var(--code-background);
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    line-height: 24px;
    color: transparent;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    overflow: hidden;
    cursor: text;
    caret-color: var(--editor-font);
}

.formattedCode{
  position: absolute;
  z-index: 98;
  left: 65px;
  top: 5px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: var(--editor-font);
  pointer-events: none;
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}


::selection {
  color: transparent;
  background: rgb(222, 176, 176);
}

.lineIndicator{
    padding-top: 5px;
    width: 50px;
    background-color: var(--code-lineIndicatorDark);
}

.lineIndicator > li {
  
    font-size: 16px;
    line-height: 24px;
    color: rgb(184, 184, 184);
    /* padding-inline: 14px; */
    padding-right: 5px;
    text-align: right;
 
}

.lineIndicator > li:nth-of-type(2n + 1) {
    background-color: var(--code-lineIndicatorDark);
}
  
.lineIndicator > li:nth-of-type(2n) {
    background-color: var(--code-lineIndicatorLight);
}

.def{
  top: 5px;
  position: absolute;
  left: 51px;
  height: 13px;
  width: 13px;
  margin: 3px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  border: 2px solid lightslategray;
  background-color: var(--code-background);
  color: lightslategray;
  font-weight: 700;
  cursor: default;
  z-index: 99;
  cursor: pointer;
}

.def:hover + .definition{
  display: block;
}

/* .def > li{
  height: 12px;
  width: 12px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
  border: 2px solid lightslategray;
  color: lightslategray;
} */

.right{
  height: calc(100vh - 60px);
  width: 40%;
  background-color: var( --header-footer);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.outerRegisters{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.registers{
  width: 47%;
  height: 220px;
}

.registerPair{
  height: 40px;
  margin-bottom: 20px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.registerPair .register{
  width: 120px;
  height: 100%;
  background-color: var(--code-lineIndicatorDark);
  display: flex;
  color: #dddddd;
}

.registerPair .registerName{
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.registerPair .registerValue{
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  font-size: 18px;

  justify-content: center;
  align-items: center;
}

#registerA{
  background-color: #731DF5;
}

#registerB, #registerC{
  background-color: #1D6CF5;
}

#registerD, #registerE{
  background-color: #00ADB5;
}

#registerH, #registerL{
  background-color: #00B332;
}


.registerHex{
  width: 180px;
  height: 40px;
  display: flex;
  color: var(--editor-font);
  background-color: var(--code-lineIndicatorDark);
  margin-bottom: 20px;

}

.registerHex .registerName{
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.registerHex .registerValue{
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}


#registerPC{
  background-color: #F5891D;
}


#registerSP{
  background-color: #F51D21;
}


.flagRegister{
  width: 240px;
  height: 70px;
  margin-top: 50px;
  display: flex;
}

.flag{
  height: 100%;
  width: 30px;
  background-color: var(--code-lineIndicatorDark);
}


.flagName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: 700;
}


.flagEven{
  background-color: #F5A91D;
}
.flagOdd{
  background-color: #F5CA1D;
}

.flagNone{
  height: 30px;
  background-color: var( --header-footer);
  width: 100%;
}

.flagValue{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}


.outerDisplay{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

.display{
  width: calc(100% - 60px);
  margin-block: 25px;
  height: 450px;
  background-color: black;
  color: white;
  padding: 10px;
  overflow-y: auto;
  white-space: pre;
  font-size: 16px;
  font-family: "Share Tech Mono", serif;
  font-weight: 400;
  font-style: normal;
  min-height: 250px;
  max-height: calc(450px - 20px);
  resize: vertical;
}

.display:focus{
  /* background-color: grey; */
  outline: black;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid rgb(57, 57, 57);
  }
}

.outerHexValues{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: default;
}

.hexValues{
  width: calc(100% - 80px);
  height: calc(100% - 20px);
  background-color: var(--code-background);
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
  gap: 16px;
  padding: 10px;
  overflow-y: scroll;
}

.hexValue{
  font-family: "Share Tech Mono", serif;
  width: 20px;
  height: 20px;
  padding-inline: 3px;
  text-align: center;
  color: #dddddd;
}


.hexHighlight{
  outline: 2px solid rgba(48, 161, 247, 0.969);
  transition: .5s hover;
}

.hexHighlight:hover{
  animation: alternateColors 3s infinite;
  cursor: pointer;
}

@keyframes alternateColors {
  0% {
    outline: 2px solid rgba(48, 161, 247, 0.969);
  }
  50% {
    outline: 2px solid rgba(190, 136, 43, 0.969);
  }
  100% {
    outline: 2px solid rgba(48, 161, 247, 0.969);
  }
  
}

.buttons{
  position: fixed;
  width: 200px;
  height: 34px;
  left: calc(60% - 210px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
}

.button{
  padding-inline: 25px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dddddd;
  cursor: pointer;
  font-weight: 700;
}

.start{
  z-index: 100;
  background-color: #137d31;
}

.start:hover{
  background-color: #1b8338;
}

.stop{
  display: none;
  z-index: 100;
  background-color: #bb3131;
}

.stop:hover{
  background-color: #db1c1c;
}

.step{
  z-index: 100;
  background-color: #1753bb;
}

.step:hover{
  background-color: #1d5ac3;
}


span{
  max-width: calc(100% - 20px);
  /* font-weight: 700; */
}

.instruction8bit{
  color: rgb(61, 129, 238);
}

.instruction16bit{
  color: rgb(61, 238, 149);
}

.instruction8bitArithmetical{
  color: rgb(179, 91, 247);
}

.instruction16bitArithmetical{
  color: rgb(223, 61, 238);
}

.instructionJumps{
  color: rgb(61, 200, 238);
}

.instructionMisc{
  color: rgb(238, 61, 61);
}

.comment{
  color: rgb(160, 160, 160);
}

/* .currentLineEdited > .comment{
  color: rgb(207, 207, 207);
} */


.argumentOne{
  color: #924cfa;
}

.argumentRegisterA{
  color: #924cfa;
}

.argumentRegisterB, .argumentRegisterC{
  color: #1D6CF5;
}


.argumentRegisterD, .argumentRegisterE{
  color: #00ADB5;
}


.argumentRegisterH, .argumentRegisterL{
  color: #00B332;
}



.argumentTwo{
  color: var(--editor-font);
}


.currentLine{
  /* background-color:rgba(230, 230, 230, 0.176); */
  
  width: 600px;
  outline: 2px solid rgba(230, 230, 230, 0.377);

}

.line{
  height: 24px;
  display:inline-block;
  padding-left: 10px;
}

.breakPoint{
  background-color: rgb(74, 26, 26) !important;
}

.definition{
  position: absolute;
  top: 0;
  left: 70px;
  background-color: var(--code-lineIndicatorDark);
  padding: 3px;
  z-index: 99;
  display: none;
  color: rgb(184, 184, 184);
  pointer-events: none;
}

.inputsLeft{
  display: flex;
  width: fit-content;
  background-color: red;
  height: 30px;
  margin-left: 50px;
}


.fileInput{
  display: none;
}

.customFileInput{
  /* display: inline-block; */
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
  background-color: #025cbd;
  cursor: pointer;
  font-size: 14px;
  
  text-align: center;
  color: #dddddd;
  /* transition: background-color 0.3s ease; */
}

.customFileInput:hover {
  background-color: #0056b3;
}



.saveFile{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
  background-color: #2692b9;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  color: #dddddd;
}


dialog{
  z-index: 97;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--code-background);
  width: 300px;
  height: 300px;
  border: none;
  color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.648);
}

.modalName{
  padding-block: 15px;
  font-size: 18px;
  font-weight: 700;
  /* border-bottom: 2px solid #dddddd; */
  margin-bottom: 10px;
  background-color: #0056b3;
  text-align: center;
  width: 100%;
}

dialog .inputs{
  width: 230px;
}

dialog .inputs p{
  margin-top: 20px;
  margin-bottom: 2px;
}

dialog .inputs input{
  width: calc(100% - 6px);
  padding: 2px;
  outline: none;
}


.modalButtons{
  margin-top: auto;
  margin-bottom: 20px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.saveButton{
  width: 100px;
  height: 30px;
  background-color: #1D6CF5;

  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  transition: .2s;
}

.saveButton:hover{
  background-color: #1959c8;
}

.closeButton{
  width: 100px;
  height: 30px;
  background-color: rgb(178, 31, 31);

  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  transition: .2s;
}


.uploadModalFile{
  width: 100px;
  height: 30px;
  background-color: #137d31;

  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  transition: .2s;
}

.filesClosed{
  transition: 0.3s;
}

.filesOpened{
  left: 0 !important;
  transition: 0.2s;
}

.files{
  position: absolute;
  top: 70px;
  left: -200px;

  width: 180px;
  z-index: 99;
  transition: 0.3s;

}

.files ul{
  list-style-type: none;
  padding-inline: 0;
  background-color: var( --header-footer);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 38px -15px rgb(0, 0, 0);
}

.files ul li{
  padding: 5px;

  color: #dddddd;
  cursor: pointer;
  padding-inline: 20px;
  padding-block: 10px;
}

.files ul li:hover{
  color: orange;
}

.files ul li:nth-of-type(5){
  border-top: 1px solid rgb(114, 114, 114);
}

.files ul li:nth-of-type(1):hover, .files ul li:nth-of-type(2):hover, .files ul li:nth-of-type(3):hover, .files ul li:nth-of-type(4):hover{
  color: royalblue;
}

.currentLineEdited{
  background-color: rgba(18, 28, 51, 0.303);
}

.saveAsHex{
  display: none;
}

.saveHexToggle{
  display: block;
}